@import "../../variabaled"; 

.bgmain {
  background-color: $secondary-color;
}

.homeContainer {
  background-color: $secondary-color;
  min-height: 100vh;
  text-align: center;
  color: $light-color;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width:50%;
  max-width:500px;
  margin: 10px auto;

  @media (max-width: 576px) {
    width: 40%;
  }
}

h3 {
  text-transform: uppercase;
  font-size: 2rem;

  @media (max-width: 576px) {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1.1rem;

  @media (max-width: 576px) {
    font-size: 0.95rem;
  }
}
